


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/crm_main.css" asp-append-version="true" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light" style="position: fixed; top: 2rem; width: 87%; border-radius: 10px; z-index:99999;">
        <div class="container-fluid d-flex">
            <div class="navbar-brand align-items-start">
                Welcome <span class="text-black fw-bold"></span>
            </div>
            <partial name="_LoginPartial" />
            
           
        </div>
    </nav>
    <div class="container " style="margin-top: 6em;">
        @RenderBody()
    </div>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
