@page
@* @model AdminDashboardModel *@
@{
	Layout = "_AdminLayout";
}
<div>
	<div class="d-grid">
		<div class="row">
			<div class="col-2">Hello</div>
			<div class="col-2">World</div>
		</div>
	</div>
</div>