
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
@{
    
}
<div class="container d-flex justify-content-center">


<p>Welcome to the CRM Landing Page</p>
</div>

@section scripts{
    <script>
        
    </script>
}